export COMMENTS_API_URL=http://localhost:4000/
export GOOGLE_API_KEY=AIzaSyBkLW87wuXG-Eyo4C27m-pFCElRuPuBA5o
export GOOGLE_OAUTH_KEY=785765963117-762e5rprni8gr0l2omjgbj8agi5v70e8.apps.googleusercontent.com
export FRONT_SOURCE_CODE_URL=https://github.com/Nicolas-Oga/personal_site
